.container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color:rgba(85, 107, 47, .3);
}

.container h2 {
    display: block;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin-bottom: 1.5rem;
}

.container .info {
    padding: 2rem 5rem 0 5rem;
    font-size: 1.6rem;
    font-style:italic;
}

.about .container img {
    padding: 0;
    height: 35rem;
    width: auto;
    border-radius: 1px;
}

.about .button {
    margin: 3rem 0;
    width: 300px;
    background-color:rgba(85, 107, 47, .9);
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.about .button:hover {
    scale: 110%;
}


@media only screen and (max-width: 800px) {
    .container .info {
        padding: 2rem 1rem 0 1rem;
        font-size: 1.3rem;
    }

    .about .container img {
        height: 25rem;
    }

    .about .button {
        font-size: 1rem;
        width: auto;
    }
}



