.container {
    padding-top: 90px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color:rgba(12, 12, 12, 0.1);
}

.container .info {
    padding: 2rem 5rem 0 5rem;
    font-size: 1.6rem;
    font-style:italic;
}

.container h2 {
    display: block;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin-bottom: 1.5rem;
}

.about .container img {
    padding: 1rem;
    height: 35rem;
    width: auto;
    border-radius: 8rem;
}

.about .button {
    margin: 3rem 0;
    width: 300px;
    background-color:rgb(0, 0, 0, 0.8);
    border: 2px solid black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.about .button:hover {
    scale: 105%;
    background-color:black;
    border: 2px solid black;
}


@media only screen and (max-width: 800px) {
    .container {
        display: inline-table;
    }

    .container .info {
        padding: 2rem 1rem 0 1rem;
        font-size: 1.3rem;
    }

    .about .container img {
        height: 25rem;
    }

    .about .button {
        font-size: 1rem;
        width: auto;
    }
}



