.header {
    margin: 0;
    padding: 0;
    height: 90px;
    width: 100%;
    z-index: 1;
    transition: .3s ease-in;
    overflow: hidden;
    background-color: rgba(0,0,0,.9);
    position: fixed;
}

.header .navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .navbar img {
     width: 250px;
     height: auto;
}

.header .nav-menu {
    display: flex;
    width: 70%;
    font-size: 1.6rem;
    justify-content: space-around;
}

.header .nav-item {
    padding: 1rem;
    font-weight: 500;
}

.header .nav-item a:hover {
padding-bottom: 10px;
border-bottom: 3px solid bisque;
color: bisque;
}

.architect {
    display: none; 
}

@media (max-width: 1100px) {
    .header .nav-menu {
        width: 70%;
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 800px) {
    .header {
        height: 45px;
    }

    .header .nav-menu {
        width: 100%;
        font-size: .55rem;
    }

    .header .navbar img {
        width: 150px;
        height: auto;
   }
}