.portfolio h2 {
    padding-top: 1.6rem;
    display: block;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.portfolio .container {
    padding-top: 90px;
    width: 100%;
    display: block;
    height: auto;
    background-color:rgba(12, 12, 12, 0.1);
}

.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .slider img {
    margin-top: 5px;
    margin-bottom: 3rem;
    height: auto;
    width: 75%;
    object-fit: cover;
    color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 16px;
    font-size: 3rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 16px;
    font-size: 2.8rem;
    z-index: 10;
    cursor: pointer;
    user-select: none; 
}

.right-arrow:hover,
.left-arrow:hover {
    scale: 105%;
}

.slide {
    opacity: 0;
    transition-duration: 3s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 3s;
    transform: scale(1.01);
}
